{% extends 'admin_base.html' %} {% block content %}
<div class="row">
  <div class="col-lg-12 m-b30">
    <div class="widget-box">
      <div class="wc-title">
        <h3>Arizalar</h3>
      </div>
      <div class="widget-inner">
        <div class="new-user-list">
          <ul>
            {% for contract in contracts %}
            <li>
              <div class="col-12 justify-content-center">
                <h4
                  class="alert alert-{% if contract.state == 'Kutilmoqda' %}warning{% elif contract.state == 'Qabul qilindi' %}success{% else %}danger{% endif %}"
                >
                  <b>{{contract.date_added}}</b>
                  <span class="badge badge-success">#{{contract.help}}</span>
                  <span
                    class="badge badge-{% if contract.state == 'Kutilmoqda' %}warning{% elif contract.state == 'Qabul qilindi' %}success{% else %}danger{% endif %}"
                    >#{{contract.state}}</span
                  >
                  <a href="{{contract.app_file.url}}"
                    >Yuklash <i class="fa fa-download" aria-hidden="true"></i>
                  </a>
                </h4>
                <div
                  class="row"
                  style="display: flex; justify-content: center; width: 100%"
                >
                  <div class="col-5">
                    <h4>Kimdan:</h4>
                    <div class="row">
                      <span class="new-users-pic">
                        <img
                          src="{{contract.organization.organization_pic.url}}"
                          alt=""
                          style="height: 100%; width: 100%; object-fit: cover"
                        />
                      </span>
                      <span class="new-users-text">
                        <a href="#" class="new-users-name"
                          >{{contract.organization.full_name}}
                        </a>
                        <span class="new-users-info"
                          >Qo'shilgan: {{contract.organization.date_added}}
                        </span>
                      </span>
                    </div>
                  </div>
                  <div class="col-5">
                    <h4>Kimga:</h4>
                    <div class="row">
                      <span class="new-users-pic">
                        <img
                          src="{{contract.library.library_pic.url}}"
                          alt=""
                          style="height: 100%; width: 100%; object-fit: cover"
                        />
                      </span>
                      <span class="new-users-text">
                        <a href="#" class="new-users-name"
                          >{{contract.library.full_name}}
                        </a>
                        <span class="new-users-info"
                          >Qo'shilgan: {{contract.library.date_added}}
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
                <!--info for contract-->

                <div class="widget-inner">
                  <div class="col-12">
                    <div class="row">
                      {% if contract.state != 'Qabul qilindi' %}
                      <form method="post" style="margin-right: 10px">
                        {% csrf_token %}
                        <input
                          value="{{contract.id}}"
                          name="id"
                          style="display: none"
                        />
                        <input
                          value="+"
                          type="text"
                          name="value"
                          style="display: none"
                        />
                        <input
                          class="btn green outline radius-xl"
                          value="Qabul qilish"
                          type="submit"
                        />
                      </form>
                      {% endif %} {% if contract.state != 'Bekor qilindi' %}
                      <form method="post">
                        {% csrf_token %}
                        <input
                          value="{{contract.id}}"
                          name="id"
                          style="display: none"
                        />
                        <input
                          value="-"
                          type="text"
                          name="value"
                          style="display: none"
                        />
                        <input
                          class="btn red outline radius-xl"
                          value="Qaytarish"
                          type="submit"
                        />
                      </form>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
