{% extends 'admin_base.html' %} {% block content %}

<div class="row">
  <!-- Your Profile Views Chart -->
  <div class="col-lg-6 m-b30">
    <div class="widget-box">
      <div class="wc-title">
        <h4>O'qilmagan xabarlar</h4>
      </div>
      <div class="widget-inner">
        <div class="new-user-list">
          {% if contacts %} {% for contact in contacts %}
          <ul>
            {% if not contact.is_read %}
            <li>
              <span class="new-users-text">
                <a href="#" class="new-users-name">FISH: {{contact.name}}</a>
                <span class="new-users-info"
                  >Email: <b>{{contact.email}}</b> </span
                ><br />
                <span class="new-users-info"
                  >Vaqti: <b>{{contact.date_added}}</b> </span
                ><br />
                <span class="new-users-info"
                  >Telefon: <b>{{contact.phone}}</b> </span
                ><br />
                <span class="new-users-info"
                  >Xabar mavzusi: <b>{{contact.title}}</b></span
                ><br />
                <span class="new-users-info"
                  >Xabar matni: <b>{{contact.body}}</b></span
                ><br />
              </span>
              <span class="new-users-btn">
                <form method="post">
                  {% csrf_token %}
                  <input
                    name="id"
                    value="{{contact.id}}"
                    style="display: none"
                  />
                  <input
                    class="btn button-sm outline"
                    type="submit"
                    name="read"
                    value="O'qildi"
                  />
                </form> </span
              ><br />
            </li>
            {% endif %} {% endfor %}
          </ul>
          {% else %}
          <p class="alert alert-warning">Ma'lumotlar yo'q</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 m-b30">
    <div class="widget-box">
      <div class="wc-title">
        <h4>O'qilgan xabarlar</h4>
      </div>
      <div class="widget-inner">
        <div class="new-user-list">
          {% if contacts %} {% for contact in contacts %}
          <ul>
            {% if contact.is_read %}
            <li>
              <span class="new-users-text">
                <a href="#" class="new-users-name">FISH: {{contact.name}}</a>
                <span class="new-users-info"
                  >Email: <b>{{contact.email}}</b> </span
                ><br />
                <span class="new-users-info"
                  >Vaqti: <b>{{contact.date_added}}</b> </span
                ><br />
                <span class="new-users-info"
                  >Telefon: <b>{{contact.phone}}</b> </span
                ><br />
                <span class="new-users-info"
                  >Xabar mavzusi: <b>{{contact.title}}</b></span
                ><br />
                <span class="new-users-info"
                  >Xabar matni: <b>{{contact.body}}</b></span
                ><br />
              </span>
            </li>
            {% endif %} {% endfor %}
          </ul>
          {% else %}
          <p class="alert alert-warning">Ma'lumotlar yo'q</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
