<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
    <!-- META ============================================= -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template" />

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template" />
    <meta
      property="og:description"
      content="EduChamp : Education HTML Template"
    />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no" />

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href={% static 'images/favicon.ico' %} type="image/x-icon" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href={% static 'images/favicon.png' %}
    />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>EduChamp : Education HTML Template</title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href={% static 'css/assets.css' %} />

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href={% static 'css/typography.css' %} />

    <!-- SHORTCODES ============================================= -->
    <link
      rel="stylesheet"
      type="text/css"
      href={% static 'css/shortcodes/shortcodes.css' %}
    />

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %} />
    <link
      class="skin"
      rel="stylesheet"
      type="text/css"
      href={% static 'css/color/color-1.css' %}
    />

    <!-- REVOLUTION SLIDER CSS ============================================= -->
    <link
      rel="stylesheet"
      type="text/css"
      href={% static 'vendors/revolution/css/layers.css' %}
    />
    
    <link
      rel="stylesheet"
      type="text/css"
      href={% static 'vendors/revolution/css/settings.css' %}
    />
    <link
      rel="stylesheet"
      type="text/css"
      href={% static 'vendors/revolution/css/navigation.css' %}
    />
    <!-- REVOLUTION SLIDER END -->

    <!-- My css -->
    <link
    rel="stylesheet"
    type="text/css"
    href={% static 'css/my.css' %}
  />
  <style>
    .dropbtn {
      background-color: rgb(0, 0, 0, 0);
      color: white;
      padding: 16px;
      font-size: 14px;
      border: none;
      cursor: pointer;
    }

    /* .dropbtn:hover,
    .dropbtn:focus {
      background-color: #2980b9;
    } */

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown a:hover {
      background-color: #ddd;
    }

    .show {
      display: block;
    }
  </style>
  
  </head>
  <body id="bg">
    <div class="page-wraper">
      <div id="loading-icon-bx"></div>
      <!-- Header Top ==== -->
      <header class="header rs-nav header-transparent">
        <div class="top-bar">
          <div class="container">
            <div class="row d-flex justify-content-between">
              <div class="topbar-left"></div>
              <div class="topbar-right">
                <ul>
                  {% if user.is_authenticated %}
                    {% if user.library %}
                    <div class="dropdown">
                      <button onclick="myFunction()" class="dropbtn" style="color:yellow; font-size:16px">
                        {{user.library.full_name}}
                      </button>
                      <div id="myDropdown" class="dropdown-content">
                        <a href="{% url 'library:profile' %}">Shahsiy kabinet</a>
                        <a href="{% url 'logout' %}">Tizimdan chiqish</a>
                      </div>
                    </div>
                    {% else %}
                    <div class="dropdown">
                      <button onclick="myFunction()" class="dropbtn" style="color:yellow; font-size:16px">
                        {{user.organization.full_name}}
                      </button>
                      <div id="myDropdown" class="dropdown-content">
                        <a href="{% url 'organization:profile' %}">Shahsiy kabinet</a>
                        <a href="{% url 'logout' %}">Tizimdan chiqish</a>
                      </div>
                    </div>
                    {% endif %} 
                 
                  {% else %}
                  <li><a href="{% url 'login' %}">Tizimga kirish</a></li>
                  <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">
                      Ro'yhatdan o'tish
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="{% url 'library:register' %}"
                        >Kutubxona sifatida</a
                      >
                      <a href="{% url 'organization:register' %}"
                        >Xususiy sektor sifatida
                      </a>
                    </div>
                  </div>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="sticky-header navbar-expand-lg">
          <div class="menu-bar clearfix">
            <div class="container clearfix">
              <!-- Header Logo ==== -->
              <!-- ----------------------------Logo qo'yaman--------------------- -->
              <div class="menu-logo">
              </div>
              <!-- Mobile Nav Button ==== -->
              <button
                class="navbar-toggler collapsed menuicon justify-content-end"
                type="button"
                data-toggle="collapse"
                data-target="#menuDropdown"
                aria-controls="menuDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span></span>
                <span></span>
                <span></span>
              </button>

              <div
                class="menu-links navbar-collapse collapse justify-content-start"
                id="menuDropdown"
              >
                <div class="menu-logo">
                  <a href="index.html"
                    ><img src={% static 'images/logo.png' %} alt=""
                  /></a>
                </div>
                <ul class="nav navbar-nav">
                  <li class="active">
                    <a href="#"
                      >Asosiy sahifa <i class="fa "></i
                    ></a>
                  </li>
                  <li>
                    <a href="{% url 'library:home' %}"
                      >Kutubxonalar <i class="fa "></i
                    ></a>
                  </li>
                 
				            <li class="nav-dashboard yangiliklar">
                    <a href="{% url 'news' %}"
                      >Yangiliklar<i class="fa "></i
                    ></a>

										<li class="nav-dashboard contacts">
											<a href="{% url 'contact' %}"
												>Biz bilan bog'lanish<i class="fa "></i
											></a>
                </ul>
              </div>
              <!-- Navigation Menu END ==== -->
            </div>
          </div>
        </div>
      </header>
      <!-- Header Top END ==== -->
      <!-- Content -->
      <div class="page-content bg-white">
        <!-- Main Slider -->
        <div class="rev-slider">
          <div
            id="rev_slider_486_1_wrapper"
            class="rev_slider_wrapper fullwidthbanner-container"
            data-alias="news-gallery36"
            data-source="gallery"
            style="
              margin: 0px auto;
              background-color: #ffffff;
              padding: 0px;
              margin-top: 0px;
              margin-bottom: 0px;
            "
          >
            <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
            <div
              id="rev_slider_486_1"
              class="rev_slider fullwidthabanner"
              style="display: none"
              data-version="5.3.0.2"
            >
              <ul>
                <!-- SLIDE  -->
                <li
                  data-index="rs-100"
                  data-transition="parallaxvertical"
                  data-slotamount="default"
                  data-hideafterloop="0"
                  data-hideslideonmobile="off"
                  data-easein="default"
                  data-easeout="default"
                  data-masterspeed="default"
                  data-thumb="error-404.html"
                  data-rotate="0"
                  data-fstransition="fade"
                  data-fsmasterspeed="1500"
                  data-fsslotamount="7"
                  data-saveperformance="off"
                  data-title="A STUDY ON HAPPINESS"
                  data-param1=""
                  data-param2=""
                  data-param3=""
                  data-param4=""
                  data-param5=""
                  data-param6=""
                  data-param7=""
                  data-param8=""
                  data-param9=""
                  data-param10=""
                  data-description="Science says that Women are generally happier"
                >
                  <!-- MAIN IMAGE -->
                  <img
                    src={% static 'images/banner/back1.jpg' %}
                    alt="123131"
                    data-bgposition="center center" 
                    data-bgfit="cover" 
                    data-bgrepeat="no-repeat" 
                    data-bgparallax="10" 
                    class="rev-slidebg" 
                    data-no-retina 
                  />
                  <!-- alt="" data-bgposition="center center" data-bgfit="cover"
                  data-bgrepeat="no-repeat" data-bgparallax="10"
                  class="rev-slidebg" data-no-retina /> -->

                  <!-- LAYER NR. 1 -->
                  <div
                    class="tp-caption tp-shape tp-shapewrapper"
                    id="slide-100-layer-1"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['middle','middle','middle','middle']"
                    data-voffset="['0','0','0','0']"
                    data-width="full"
                    data-height="full"
                    data-whitespace="nowrap"
                    data-type="shape"
                    data-basealign="slide"
                    data-responsive_offset="off"
                    data-responsive="off"
                    data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1,"to":"opacity:0;","ease":"Power4.easeOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    style="
                      z-index: 5;
                      background-color: rgba(2, 0, 11, 0.8);
                      border-color: rgba(0, 0, 0, 0);
                      border-width: 0px;
                    "
                  ></div>
                  <!-- LAYER NR. 2 -->
                  <div
                    class="tp-caption Newspaper-Title tp-resizeme"
                    id="slide-100-layer-2"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['top','top','top','top']"
                    data-voffset="['250','250','250','240']"
                    data-fontsize="['50','50','50','30']"
                    data-lineheight="['55','55','55','35']"
                    data-width="full"
                    data-height="none"
                    data-whitespace="normal"
                    data-type="text"
                    data-responsive_offset="on"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[10,10,10,10]"
                    data-paddingleft="[0,0,0,0]"
                    style="
                      z-index: 6;
                      font-family: rubik;
                      font-weight: 700;
                      text-align: center;
                      white-space: normal;
                    "
                  >
                  Kutunxona sohasida davlat <br>xususiy sherikligini tashkil etish <br> axborot tizimi
                  </div>

                  <!-- LAYER NR. 3 -->
               

                  <!-- LAYER NR. 3 -->
               
                  <!-- LAYER NR. 4 -->
                
                </li>
                <li
                  data-index="rs-200"
                  data-transition="parallaxvertical"
                  data-slotamount="default"
                  data-hideafterloop="0"
                  data-hideslideonmobile="off"
                  data-easein="default"
                  data-easeout="default"
                  data-masterspeed="default"
                  data-thumb={% static 'images/slider/slide1.jpg' %}
                  data-rotate="0"
                  data-fstransition="fade"
                  data-fsmasterspeed="1500"
                  data-fsslotamount="7"
                  data-saveperformance="off"
                  data-title="A STUDY ON HAPPINESS"
                  data-param1=""
                  data-param2=""
                  data-param3=""
                  data-param4=""
                  data-param5=""
                  data-param6=""
                  data-param7=""
                  data-param8=""
                  data-param9=""
                  data-param10=""
                  data-description="Science says that Women are generally happier"
                >
                  <!-- MAIN IMAGE -->
                  <img
                    src={% static 'images/banner/back2.jpg' %}
                    alt=""
                    data-bgposition="center center"
                    data-bgfit="cover"
                    data-bgrepeat="no-repeat"
                    data-bgparallax="10"
                    class="rev-slidebg"
                    data-no-retina
                  />

                  <!-- LAYER NR. 1 -->
                  <div
                    class="tp-caption tp-shape tp-shapewrapper"
                    id="slide-200-layer-1"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['middle','middle','middle','middle']"
                    data-voffset="['0','0','0','0']"
                    data-width="full"
                    data-height="full"
                    data-whitespace="nowrap"
                    data-type="shape"
                    data-basealign="slide"
                    data-responsive_offset="off"
                    data-responsive="off"
                    data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:1;","ease":"Power4.easeOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    style="
                      z-index: 5;
                      background-color: rgba(2, 0, 11, 0.8);
                      border-color: rgba(0, 0, 0, 0);
                      border-width: 0px;
                    "
                  ></div>

                  <!-- LAYER NR. 2 -->
                  <div
                    class="tp-caption Newspaper-Title tp-resizeme"
                    id="slide-200-layer-2"
                    data-x="['center','center','center','center']"
                    data-hoffset="['0','0','0','0']"
                    data-y="['top','top','top','top']"
                    data-voffset="['250','250','250','240']"
                    data-fontsize="['50','50','50','30']"
                    data-lineheight="['55','55','55','35']"
                    data-width="full"
                    data-height="none"
                    data-whitespace="normal"
                    data-type="text"
                    data-responsive_offset="on"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['center','center','center','center']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[10,10,10,10]"
                    data-paddingleft="[0,0,0,0]"
                    style="
                      z-index: 6;
                      font-family: rubik;
                      font-weight: 700;
                      text-align: center;
                      white-space: normal;
                      text-transform: uppercase;
                    "
                  >
                  Kutunxona sohasida davlat <br>xususiy sherikligini tashkil etish <br> axborot tizimi
                  </div>

                  <!-- LAYER NR. 3 -->
                

                  <!-- LAYER NR. 3 -->
                
                  <!-- LAYER NR. 4 -->
                </li>
                <!-- SLIDE  -->
              </ul>
            </div>
            <!-- END REVOLUTION SLIDER -->
          </div>
        </div>
        <!-- Main Slider -->
        <div class="content-block">
          <!-- Our Services -->
          <div class="section-area content-inner service-info-bx">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="service-bx">
                    <div class="action-box">
                      <img src={% static 'images/banner/milliykutubxona.jpg' %} alt="" />
                    </div>
                    <div class="info-bx text-center">
                      <div class="feature-box-sm radius bg-white">
                        <i class="fa fa-bank text-primary"></i>
                      </div>
                      <h4><a href="#">Alisher Navoiy nomidagi O'zbekiston Milliy kutubxonasi</a></h4>
                      <a href="https://www.natlib.uz/" target="_blank" class="btn radius-xl">Saytga o'tish</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                  <div class="service-bx">
                    <div class="action-box">
                      <img src={% static 'images/banner/milliykutubxonakitob2.jpg' %} alt="" />
                    </div>
                    <div class="info-bx text-center">
                      <div class="feature-box-sm radius bg-white">
                        <i class="fa fa-book text-primary"></i>
                      </div>
                      <h4><a href="#">Alisher Navoiy nomidagi O'zbekiston Milliy kutubxonasi statistikasi</a></h4>
                      <a href="https://www.natlib.uz/bbs/content/94_355" target="_blank" class="btn radius-xl">Saytga o'tish</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="service-bx m-b0">
                    <div class="action-box">
                      <img src={% static 'images/banner/milliykutubxonakitob1.jpg' %} alt="" />
                    </div>
                    <div class="info-bx text-center">
                      <div class="feature-box-sm radius bg-white">
                        <i class="fa fa-file-text-o text-primary"></i>
                      </div>
                      <h4><a href="#">Alisher Navoiy nomidagi O'zbekiston Milliy kutubxonasi hukumati</a></h4>
                      <a href="https://www.natlib.uz/bbs/content/94_346" target="_blank" class="btn radius-xl">Saytga o'tish</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Our Services END -->

          <!-- Popular Courses -->
          <div class="section-area section-sp2 popular-courses-bx">
            <div class="container">
              <div class="row">
                <div class="col-md-12 heading-bx left">
                  <h2 class="title-head">O'zbekistondagi<span> kutubxonalar</span></h2>
                  <p>
                    O'zbekistondagi yirik axborot resurs markazlari va ularning elektron manzillari
                  </p>
                </div>
              </div>
              <div class="row">
                <div
                  class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0"
                >
                  <div class="item">
                    <div class="cours-bx" style="height: 290px;">
                      <div class="action-box">
                        <img src={% static 'images/banner/qoraqolpoq.jpg' %} alt="" />
                        <a href="www.karsu.uz" target="_blank" class="btn">Malumot olish</a>
                      </div>
                      <div class="info-bx text-center">
                        <h5>
                          <a href="#">Qoraqalpoq davlat universiteti axborot-resurs markazi</a>
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="cours-bx" style="height: 290px;">
                      <div class="action-box">
                        <img src={% static 'images/banner/andijon.jpg' %} style="height: 180px;" alt="" />
                        <a href="https://www.adu.uz" target="_blank" class="btn">Malumot olish</a>
                      </div>
                      <div class="info-bx text-center">
                        <h5>
                          <a href="#">Andijon davlat universiteti axborot-resurs markazi</a>
                        </h5>
                        <!-- <span>Programming</span> -->
                      </div>
                      
                    </div>
                  </div>
                  <div class="item">
                    <div class="cours-bx" style="height: 290px;">
                      <div class="action-box">
                        <img src={% static 'images/banner/andijon.jpg' %} style="height: 180px;" alt="" />
                        <a href="https://www.buxdu.uz" target="_blank" class="btn">Malumot olish</a>
                      </div>
                      <div class="info-bx text-center">
                        <h5>
                          <a href="#">Buxoro davlat universiteti axborot-resurs markazi</a>
                        </h5>
                        <!-- <span>Programming</span> -->
                      </div>
                     
                    </div>
                  </div>
                  <div class="item">
                    <div class="cours-bx" style="height: 290px;">
                      <div class="action-box">
                        <img src={% static 'images/banner/jizzax.jpg' %} alt="" />
                        <a href="https://jspi.uz/" class="btn" target="_blank">Malumot olish</a>
                      </div>
                      <div class="info-bx text-center">
                        <h5>
                          <a href="#!">Jizzax davlat pedagogika insituti axborot-resurs markazi</a>
                        </h5>
                        <!-- <span>Programming</span> -->
                      </div>
                    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
          <!-- Form END -->
          <div class="section-area section-sp2">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center heading-bx">
                  <h2 class="title-head m-b0">Tadbirlardan <span>Lavhalar</span></h2>
                  <p class="m-b0">Tadbirlar, forumlar , ilmiy majlislar va shu kabi malumotlar.</p>
                </div>
              </div>
              <div class="row">
                <div
                  class="upcoming-event-carousel owl-carousel owl-btn-center-lr owl-btn-1 col-12 p-lr0 m-b30"
                >
                <div class="item">
                  <div class="event-bx">
                    <div class="action-box">
                      <img
                        src={% static 'images/banner/alimpiyada.jpg' %}
                        alt=""
                        style="height: 350px"
                      />
                    </div>
                    <div class="info-bx d-flex">
                      <div>
                        <div class="event-time">
                          <div class="event-date">29</div>
                          <div class="event-month">Oktabr</div>
                        </div>
                      </div>
                      <div class="event-info">
                        <h4 class="event-title">
                          <a href="#!">Fan alimpiyadalari</a>
                        </h4>
                        <ul class="media-post">
                          <!-- <li>
                              <a href="#"
                                ><i class="fa fa-clock-o"></i> 7:00am 8:00am</a
                              >
                            </li> -->
                          <li>
                            <a href="#!"
                              ><i class="fa fa-map-marker"></i> Toshkent
                            </a>
                          </li>
                        </ul>
                        <p>
                          iqtidorli o‘quvchi yoshlarni aniqlash, ular
                          faoliyatini ilmiy va uslubiy jihatdan ta’minlab
                          borish, sohada ilg‘or tajribalarni ommalashtirish va
                          ular asosida ta’lim muassasalari uchun tavsiya va
                          qo‘llanmalar ishlab chiqish...
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="event-bx">
                    <div class="action-box">
                      <img
                        src={% static 'images/banner/kitobxon.jpg' %}
                        alt=""
                        style="height: 350px"
                      />
                    </div>
                    <div class="info-bx d-flex">
                      <div>
                        <div class="event-time">
                          <div class="event-date">29</div>
                          <div class="event-month">Mart</div>
                        </div>
                      </div>
                      <div class="event-info">
                        <h4 class="event-title">
                          <a href="#!">Yosh kitobxon ko'rik tanlovi</a>
                        </h4>
                        <ul class="media-post">
                          <!-- <li>
                              <a href="#"
                                ><i class="fa fa-clock-o"></i> 7:00am 8:00am</a
                              >
                            </li> -->
                          <li>
                            <a href="#!"
                              ><i class="fa fa-map-marker"></i>Toshkent</a
                            >
                          </li>
                        </ul>
                        <p>
                          Dasturning maqsadi — kitobxonlik madaniyatini
                          rivojlantirish, ijodkorlar, noshirlar va kitob
                          tarqatuvchilar faoliyatini qo‘llab-quvvatlash tizimini
                          izchil va samarali tashkil etish orqali faol
                          kitobxonlar safini kengaytirish, aholi, ayniqsa, yosh
                          avlodning intellektual salohiyatini oshirishdan
                          iborat...
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="event-bx">
                    <div class="action-box">
                      <img
                        src={% static 'images/banner/zakovat.jpeg' %}
                        alt=""
                        style="height: 350px"
                      />
                    </div>
                    <div class="info-bx d-flex">
                      <div>
                        <div class="event-time">
                          <div class="event-date">18</div>
                          <div class="event-month">Aprel</div>
                        </div>
                      </div>
                      <div class="event-info">
                        <h4 class="event-title">
                          <a href="#!">Zakovat intelektual o'yini</a>
                        </h4>
                        <ul class="media-post">
                          <!-- <li>
                              <a href="#"
                                ><i class="fa fa-clock-o"></i> 7:00am 8:00am</a
                              >
                            </li> -->
                          <li>
                            <a href="#!"
                              ><i class="fa fa-map-marker"></i> Toshkent</a
                            >
                          </li>
                        </ul>
                        <p>
                          Prezident qarori bilan «Zakovat» intellektual
                          o‘yinining respublika bosqichida g‘olib va sovrindor
                          bo‘lgan o‘quvchilar hamda OTM talabalari ta’limning
                          keyingi bosqichiga to‘lov-kontrakt asosida imtihon
                          sinovlarisiz qabul qilinadi...
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                  
                </div>
              </div>
              
            </div>
          </div>

          <!-- Testimonials -->
          <div
            class="section-area section-sp2 bg-fix ovbl-dark"
            style="background-image: url({% static 'images/banner/back2.jpg' %})"
          >
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-white heading-bx left">
                  <h2 class="title-head text-uppercase">
                     Iqtiboslar <span></span>
                  </h2>
                  <p>
                    Ulamolar takidlagan chuqur manoli gaplar.
                  </p>
                </div>
              </div>
              <div
                class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0"
              >
                <div class="item">
                  <div class="testimonial-bx">
                    <div class="testimonial-thumb">
                      <img src={% static 'images/banner/A.Navoiy.jpg' %} alt="" />
                    </div>
                    <div class="testimonial-info">
                      <h5 class="name">Alisher Navoiy</h5>
                      <!-- <p>-Art Director</p> -->
                    </div>
                    <div class="testimonial-content">
                      <p>
												G‘urbatda g‘arib shodmon bo‘lmas emish, El anga shafiqu mehribon bo‘lmas emish. Oltin qafas ichra gar qizil gul butsa, Bulbulg‘a tikondek oshyon bo‘lmas emish.                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimonial-bx">
                    <div class="testimonial-thumb">
                      <img src={% static 'images/banner/ulugbekimg.jpg' %} alt="" />
                    </div>
                    <div class="testimonial-info">
                      <h5 class="name">Mirzo Ulug'bek</h5>
                      <!-- <p>-Art Director</p> -->
                    </div>
                    <div class="testimonial-content">
                      <p>
												Oilada ota – onalar ayniqsa o’qimishli ota – onalar o’z farzandlarining haqiqiy inson bo’lib kamol topishiga aloxida e’tibor berishlari lozim.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Testimonials END -->

          <!-- Recent News -->
          <div class="section-area section-sp2">
            <div class="container">
              <div class="row">
                <div class="col-md-12 heading-bx left">
                  <h2 class="title-head">So'ngi <span>yangiliklar</span></h2>
                  <p>
                    Axborot resurslarini takomillashtirishga oid yangiliklar
                  </p>
                </div>
              </div>
              <div
                class="recent-news-carousel owl-carousel owl-btn-1 col-12 p-lr0"
              >
              {% for new in news %}
              <div class="item">
                <div class="recent-news">
                  <div class="action-box">
                    <img
                      src="{{new.news_pic.url}}"
                      alt=""
                    />
                  </div>
                  <div class="info-bx">
                    <ul class="media-post">
                      <li>
                        <a href="#!"
                          ><i class="fa fa-calendar"></i>{{new.date_added}}</a
                        >
                      </li>
                      
                    </ul>
                    <h5 class="post-title">
                      <a href="#!"
                        >{{new.title}}</a
                      >
                    </h5>
                    <p class="news-body">
                      {{new.body}}
                    </p>
                    <div class="post-extra">
                      <a href="{% url 'simple_new' pk=new.id %}" class="btn-link"
                        >BATAFSIL...</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
      
              </div>
							<div class="text-center" style="margin-top: 20px;">
                <a href="{% url 'news' %}" class="btn">Ko'proq o'qish</a>
              </div>
            </div>
          </div>
          <!-- Recent News End -->
        </div>
        <!-- contact area END -->
      </div>
      <!-- Content END-->
      <!-- Footer ==== -->
      <footer>
        <div class="footer-top" style="padding-top: 20px">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-12 col-sm-12 footer-col-4">
                <div class="widget">
                  <!-- <h5 class="footer-title">Sign Up For A Newsletter</h5> -->
                  <p
                    class="text-capitalize m-b20"
                    style="text-align: center; font-size: 20px; margin: 20px auto"
                  >
                    Kutubxona soxasida davlat xususiy sheriklikni tashkil etish
                    axborot tizimi
                  </p>
                  <p style="text-align: center; margin: 10px auto">
                    Tel: +99 890 123 45 67
                  </p>
                  <p style="text-align: center; margin: 10px auto">
                    Tel: +99 890 111 44 66
                  </p>
                  <p style="text-align: center; margin: 10px auto">
                    Email: electronpochta@gmail.com
                  </p>
                </div>
              </div>
              <div class="col-12 col-lg-5 col-md-7 col-sm-12">
                <div class="row">
                  <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="widget footer_widget">
                      <h5 class="footer-title">Havolalar</h5>
                      <ul>
                        <li><a href="#">Asosiy</a></li>
                        <li><a href="{% url 'library:home' %}">Kutubxonalar</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="widget footer_widget">
                      <h5 class="footer-title">Havolalar</h5>
                      <ul>
                        <li><a href="{% url 'news' %}">Yangiliklar</a></li>
                        <li><a href="{% url 'library:profile' %}">Shahsiy kabinet</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="widget footer_widget">
                      <h5 class="footer-title">Havolalar</h5>
                      <ul>
                        <li>
                          <a href="{% url 'contact' %}"
                            >Biz bilan bog'lanish</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-3 col-md-5 col-sm-12 footer-col-4">
                <div class="widget widget_gallery gallery-grid-4">
                  <h5 class="footer-title">Galareya</h5>
                  <ul class="magnific-image">
                    <li>
                      <a
                        href="{% static 'images/banner/back1.jpg' %}"
                        class="magnific-anchor"
                        ><img src={% static 'images/banner/back1.jpg' %} alt=""
                      /></a>
                    </li>
                    <li>
                      <a
                        href="{% static 'images/banner/yoshkitobxon.jpg' %}"
                        class="magnific-anchor"
                        ><img src={% static 'images/banner/yoshkitobxon.jpg' %} alt=""
                      /></a>
                    </li>
                    <li>
                      <a
                        href="{% static 'images/banner/zakovat.jpeg' %}"
                        class="magnific-anchor"
                        ><img src={% static 'images/banner/zakovat.jpeg' %} alt=""
                      /></a>
                    </li>
                    <li>
                      <a
                        href="{% static 'images/banner/alimpiyada.jpg' %}"
                        class="magnific-anchor"
                        ><img src={% static 'images/banner/alimpiyada.jpg' %} alt=""
                      /></a>
                    </li>
                    <li>
                      <a
                        href="{% static 'images/banner/milliykutubxonakitob1.jpg' %}"
                        class="magnific-anchor"
                        ><img
                          src={% static 'images/banner/milliykutubxonakitob1.jpg' %}
                          alt=""
                      /></a>
                    </li>
                    <li>
                      <a
                        href="{% static 'images/banner/milliykutubxona.jpg' %}"
                        class="magnific-anchor"
                        ><img
                          src={% static 'images/banner/milliykutubxona.jpg' %}
                          alt=""
                      /></a>
                    </li>
                    <li>
                      <a
                        href="{% static 'images/banner/shahmat.jpeg' %}"
                        class="magnific-anchor"
                        ><img src={% static 'images/banner/shahmat.jpeg' %} alt=""
                      /></a>
                    </li>
                    <li>
                      <a
                        href="{% static 'images/banner/zakovat2.jpeg' %}"
                        class="magnific-anchor"
                        ><img src={% static 'images/banner/zakovat2.jpeg' %} alt=""
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <a target="_blank" href="https://www.templateshub.net"
                  >Templates Hub</a
                >
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer END ==== -->
      <button class="back-to-top fa fa-chevron-up"></button>
    </div>

    <!-- External JavaScripts -->
    <script src={% static 'js/jquery.min.js' %}></script>
    <script src={% static 'vendors/bootstrap/js/popper.min.js' %}></script>
    <script src={% static 'vendors/bootstrap/js/bootstrap.min.js' %}></script>
    <script src={% static 'vendors/bootstrap-select/bootstrap-select.min.js' %}></script>
    <script src={% static 'vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}></script>
    <script src={% static 'vendors/magnific-popup/magnific-popup.js' %}></script>
    <script src={% static 'vendors/counter/waypoints-min.js' %}></script>
    <script src={% static 'vendors/counter/counterup.min.js' %}></script>
    <script src={% static 'vendors/imagesloaded/imagesloaded.js' %}></script>
    <script src={% static 'vendors/masonry/masonry.js' %}></script>
    <script src={% static 'vendors/masonry/filter.js' %}></script>
    <script src={% static 'vendors/owl-carousel/owl.carousel.js' %}></script>
    <script src={% static 'js/functions.js' %}></script>
    <script src={% static 'js/contact.js' %}></script>
    <script src={% static 'vendors/switcher/switcher.js' %}></script>
    <!-- Revolution JavaScripts Files -->
    <script src={% static 'vendors/revolution/js/jquery.themepunch.tools.min.js' %}></script>
    <script src={% static 'vendors/revolution/js/jquery.themepunch.revolution.min.js' %}></script>
    <!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src={% static 'vendors/revolution/js/extensions/revolution.extension.actions.min.js' %}></script>
    <script src={% static 'vendors/revolution/js/extensions/revolution.extension.carousel.min.js' %}></script>
    <script src={% static 'vendors/revolution/js/extensions/revolution.extension.kenburn.min.js' %}></script>
    <script src={% static 'vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}></script>
    <script src={% static 'vendors/revolution/js/extensions/revolution.extension.migration.min.js' %}></script>
    <script src={% static 'vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}></script>
    <script src={% static 'vendors/revolution/js/extensions/revolution.extension.parallax.min.js' %}></script>
    <script src={% static 'vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}></script>
    <script src={% static 'vendors/revolution/js/extensions/revolution.extension.video.min.js' %}></script>
    <script>
      /* When the user clicks on the button, 
      toggle between hiding and showing the dropdown content */
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
  
      // Close the dropdown if the user clicks outside of it
      window.onclick = function (event) {
        if (!event.target.matches(".dropbtn")) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
    </script>
    <script>
      jQuery(document).ready(function () {
        var ttrevapi;
        var tpj = jQuery;
        if (tpj("#rev_slider_486_1").revolution == undefined) {
          revslider_showDoubleJqueryError("#rev_slider_486_1");
        } else {
          ttrevapi = tpj("#rev_slider_486_1")
            .show()
            .revolution({
              sliderType: "standard",
              jsFileLocation: '{% static 'vendors/revolution/js/' %}',
              sliderLayout: "fullwidth",
              dottedOverlay: "none",
              delay: 9000,
              navigation: {
                keyboardNavigation: "on",
                keyboard_direction: "horizontal",
                mouseScrollNavigation: "off",
                mouseScrollReverse: "default",
                onHoverStop: "on",
                touch: {
                  touchenabled: "on",
                  swipe_threshold: 75,
                  swipe_min_touches: 1,
                  swipe_direction: "horizontal",
                  drag_block_vertical: false,
                },
                arrows: {
                  style: "uranus",
                  enable: true,
                  hide_onmobile: false,
                  hide_onleave: false,
                  tmp: "",
                  left: {
                    h_align: "left",
                    v_align: "center",
                    h_offset: 10,
                    v_offset: 0,
                  },
                  right: {
                    h_align: "right",
                    v_align: "center",
                    h_offset: 10,
                    v_offset: 0,
                  },
                },
              },
              viewPort: {
                enable: true,
                outof: "pause",
                visible_area: "80%",
                presize: false,
              },
              responsiveLevels: [1240, 1024, 778, 480],
              visibilityLevels: [1240, 1024, 778, 480],
              gridwidth: [1240, 1024, 778, 480],
              gridheight: [768, 600, 600, 600],
              lazyType: "none",
              parallax: {
                type: "scroll",
                origo: "enterpoint",
                speed: 400,
                levels: [
                  5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 46, 47, 48, 49, 50, 55,
                ],
                type: "scroll",
              },
              shadow: 0,
              spinner: "off",
              stopLoop: "off",
              stopAfterLoops: -1,
              stopAtSlide: -1,
              shuffle: "off",
              autoHeight: "off",
              hideThumbsOnMobile: "off",
              hideSliderAtLimit: 0,
              hideCaptionAtLimit: 0,
              hideAllCaptionAtLilmit: 0,
              debugMode: false,
              fallbacks: {
                simplifyAll: "off",
                nextSlideOnWindowFocus: "off",
                disableFocusListener: false,
              },
            });
        }
      });
    </script>
  </body>
</html>