{% extends 'base.html' %} {% block content %} {% load static %}
<div
  class="page-banner ovbl-dark"
  style="background-image: url('{% static 'images/banner/banner3.jpg' %}')"
>
  <div class="container">
    <div class="page-banner-entry">
      <h1 class="text-white">Yangiliklar</h1>
    </div>
  </div>
</div>
<div class="breadcrumb-row">
  <div class="container">
    <ul class="list-inline">
      <li><a href="{% url 'home' %}">Asosiy</a></li>
      <li>Yangiliklar</li>
    </ul>
  </div>
</div>
<div class="section-area section-sp1">
  <div class="container">
    <div class="ttr-blog-grid-3 row" id="masonry">
      {% for new in news %}
      <div class="post action-card col-lg-4 col-md-6 col-sm-12 col-xs-12 m-b40">
        <div class="recent-news">
          <div class="action-box">
            <img src="{{new.news_pic.url}}" alt="" />
          </div>
          <div class="info-bx">
            <ul class="media-post">
              <li>
                <a href="#!"
                  ><i class="fa fa-calendar"></i>{{new.date_added}}</a
                >
              </li>
            </ul>
            <h5 class="post-title">{{new.title}}</h5>
            <p class="news-body">{{new.body}}</p>
            <div class="post-extra">
              <a href="{% url 'simple_new' pk=new.id %}" class="btn-link"
                >BATAFSIL...</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
