.news-body {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.dropbtn {
  background-color: rgb(0, 0, 0, 0);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* .dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
} */

.partnership_type {
  background-color: aqua;
}
