{% extends 'base.html' %} {% block content %} {% load static %}
<div class="page-content bg-white">
  <!-- inner page banner -->
  <div
    class="page-banner ovbl-dark"
    style="background-image: url('{% static 'images/banner/back1.jpg' %}')"
  >
    <div class="container">
      <div class="page-banner-entry">
        <h1 class="text-white">{{organization.full_name}}</h1>
        <p class="text-white">Profil sahifasi</p>
      </div>
    </div>
  </div>
  <!-- Breadcrumb row -->
  {% if not user.myadmin %}
  <div class="breadcrumb-row">
    <div class="container">
      <ul class="list-inline">
        <li><a href="{% url 'home' %}">Asosiy</a></li>
        <li>Shaxsiy sahifa</li>
      </ul>
    </div>
  </div>
  {% endif %}

  <!-- Breadcrumb row END -->
  <div class="content-block">
    <div class="section-area section-sp1">
      <div class="container">
        <div class="row">
          <!-- Left part start -->
          <div class="col-lg-8 col-xl-8">
            <!-- blog start -->
            <div class="recent-news blog-lg">
              <div class="action-box blog-lg">
                <div class="card mb-3 shadow-sm">
                  {% if organization.organization_pic %}
                  <img
                    src="{{organization.organization_pic.url}}"
                    class="card-img-top"
                    alt="..."
                  />
                  {% else %} <img src={% static 'images/org.webp' %}
                  class="card-img-top" alt="..." /> {% endif %}

                  <div class="card-body">
                    <div class="row p-2" style="margin-bottom: 20px">
                      <div class="col-lg-6">
                        <div class="info-bx">
                          <h5 class="post-title">
                            <i class="fa fa-building" aria-hidden="true"></i>
                            <a href="#!">{{organization.full_name}}.</a>
                          </h5>

                          <p>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            {{organization.region}}
                            {{organization.full_address}}
                          </p>
                          <p>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            {{organization.phone}}
                          </p>
                          <p>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            Ochilgan yili: {{organization.open_year}} - yil
                          </p>
                          <p>
                            <i class="fa fa-columns" aria-hidden="true"></i>
                            Ko'rxona turi: {{organization.organization_type}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="margin-bottom: 20px">
                <div>
                  <h5 class="post-title alert alert-info text-center">
                    {% if user.myadmin %} Ushbu tashkilot arizalari {% else %}
                    Arizalaringiz {% endif %}
                  </h5>
                  {% for contract in contracts %}
                  <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                      <h5 class="post-title">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <a href="#!">{{contract.library.full_name}}.</a>
                      </h5>
                      <div class="media-post">
                        <a href="#!"
                          ><i class="fa fa-calendar"></i> Ariza Topshirilgan
                          vaqt: {{contract.date_added}}</a
                        >
                      </div>

                      <img
                        src="{{contract.library.library_pic.url}}"
                        class="card-img-top"
                        alt="..."
                        style="height: 200px; object-fit: cover"
                      />
                      <div style="margin-top: 12px"></div>
                      {% if contract.state == "Kutilmoqda" %}
                      <p class="alert alert-warning">
                        <i class="fa fa-question" aria-hidden="true"></i>
                        {{contract.state}}...
                      </p>
                      {% elif contract.state == "Qabul qilindi" %}

                      <p class="alert alert-success">
                        <a href="{{contract.app_file.url}}" target="bank"
                          ><i class="fa fa-check" aria-hidden="true"></i>
                          Qabul qilindi. (Arizani yuklash)
                          <i class="fa fa-download" aria-hidden="true"></i
                        ></a>
                      </p>
                      {% elif contract.state == "Bekor qilindi" %}
                      <p class="alert alert-danger">
                        <i class="fa fa-ban" aria-hidden="true"></i>Bekor
                        qilindi.
                      </p>
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>

            <!-- blog END -->
          </div>
          <!-- Left part END -->
          <!-- Side bar start -->
          <div class="col-lg-4 col-xl-4">
            <aside class="side-bar sticky-top">
              <div class="widget recent-posts-entry">
                <h6 class="widget-title">So'ngi yangiliklar</h6>
                <div class="widget-post-bx">
                  {% if news %} {% for new in news %}
                  <div class="widget-post clearfix">
                    <div class="ttr-post-media">
                      <img
                        src="{{new.news_pic.url}}"
                        width="200"
                        height="143"
                        alt=""
                      />
                    </div>
                    <div class="ttr-post-info">
                      <div class="ttr-post-header">
                        <h6 class="post-title">
                          <a href="{% url 'simple_new' pk=new.id %}"
                            >{{new.title}}.</a
                          >
                        </h6>
                      </div>
                      <ul class="media-post">
                        <li>
                          <a href="{% url 'simple_new' pk=new.id %}"
                            ><i class="fa fa-calendar"></i>{{new.date_added}}</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  {% endfor %} {% else %}
                  <div class="alert alert-warning">
                    Yangiliklar mavjud emas.
                  </div>
                  {% endif %}
                </div>
              </div>
            </aside>
          </div>
          <!-- Side bar END -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
