<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <!-- META ============================================= -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="dxshlibrary" />

    <!-- OG -->
    <meta property="og:title" content="dxshlibrary" />
    <meta
      property="og:description"
      content="dxshlibrary"
    />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.png"
    />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>dxshlibrary</title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href={% static 'css/assets.css' %} />

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href={% static 'css/typography.css'%}
    />

    <!-- SHORTCODES ============================================= -->
    <link
      rel="stylesheet"
      type="text/css"
      href={% static 'css/shortcodes/shortcodes.css' %}
    />

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %} />
    <link rel="stylesheet" type="text/css" href={% static 'css/my.css' %} />
    <link class="skin" rel="stylesheet" type="text/css" href={% static
    'css/color/color-1.css' %} />
    <style>
      .dropbtn {
        background-color: rgb(0, 0, 0, 0);
        padding: 16px;
        font-size: 14px;
        border: none;
        cursor: pointer;
        color: #333;
      }
  
      .dropdown {
        position: relative;
        display: inline-block;
      }
  
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
  
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
  
      .dropdown a:hover {
        background-color: #ddd;
      }
  
      .show {
        display: block;
      }
    </style>
  </head>
  <body id="bg">
    <div class="page-wraper">
      <div id="loading-icon-bx"></div>

      <!-- Header Top ==== -->
      <header class="header rs-nav">
        <div class="top-bar">
          <div class="container">
            <div class="row d-flex justify-content-between">
              <div class="topbar-left">
               
              </div>
              <div class="topbar-right">
                <ul>
                  {% if user.is_authenticated and not user.is_superuser %}
                    {% if user.library %}
                    <div class="dropdown">
                      <button onclick="myFunction()" class="dropbtn badge" style="font-size:16px">
                        <i class="fa fa-book" aria-hidden="true"></i> {{user.library.full_name}}
                      </button>
                      <div id="myDropdown" class="dropdown-content">
                        <a href="{% url 'library:profile' pk=user.library.id %}" style="color:black">Shahsiy kabinet</a>
                        <a href="{% url 'logout' %}">Tizimdan chiqish</a>
                      </div>
                    </div>
                    {% elif user.organization %}
                    <div class="dropdown">
                      <button onclick="myFunction()" class="dropbtn badge" style="font-size:16px">
                        <i class="fa fa-building" aria-hidden="true"></i> {{user.organization.full_name}}
                      </button>
                      <div id="myDropdown" class="dropdown-content">
                        <a href="{% url 'organization:profile' pk=user.organization.id %}">Shahsiy kabinet</a>
                        <a href="{% url 'logout' %}">Tizimdan chiqish</a>
                      </div>
                    </div>
                    {% elif user.myadmin %}
                    <div class="dropdown">
                      <button onclick="myFunction()" class="dropbtn badge" style="font-size:16px">
                        <i class="fa fa-building" aria-hidden="true"></i> Admin
                      </button>
                      <div id="myDropdown" class="dropdown-content">
                        <a href="{% url 'my_admin:home'  %}">Admin Panel</a>
                        <a href="{% url 'logout' %}">Tizimdan chiqish</a>
                      </div>
                    </div>
                    {% endif %} 
                 
                  {% else %}
                  <li><a href="{% url 'login' %}">Tizimga kirish</a></li>
                  <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">
                      Ro'yhatdan o'tish
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="{% url 'library:register' %}"
                        >Kutubxona sifatida</a
                      >
                      <a href="{% url 'organization:register' %}"
                        >Xususiy sektor sifatida
                      </a>
                    </div>
                  </div>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="sticky-header navbar-expand-lg">
          <div class="menu-bar clearfix">
            <div class="container clearfix">
              <!-- Header Logo ==== -->
              {% comment %} <div class="menu-logo">
                <a href="index.html"
                  ><img src="assets/images/logo.png" alt=""
                /></a>
              </div> {% endcomment %}
              <!-- Mobile Nav Button ==== -->
              <button
                class="navbar-toggler collapsed menuicon justify-content-end"
                type="button"
                data-toggle="collapse"
                data-target="#menuDropdown"
                aria-controls="menuDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span></span>
                <span></span>
                <span></span>
              </button>
             
              <!-- Search Box ==== -->
              <div class="nav-search-bar">
                <form action="#">
                  <input
                    name="search"
                    value=""
                    type="text"
                    class="form-control"
                    placeholder="Type to search"
                  />
                  <span><i class="ti-search"></i></span>
                </form>
                <span id="search-remove"><i class="ti-close"></i></span>
              </div>
              <!-- Navigation Menu ==== -->
              {% if not  user.myadmin %}
              <div
                class="menu-links navbar-collapse collapse justify-content-start"
                id="menuDropdown">
                <div class="menu-logo">
                  <a href="index.html"
                    ><img src="assets/images/logo.png" alt=""
                  /></a>
                </div>
                <ul class="nav navbar-nav">
                  <li >
                    <a href="{% url 'home' %}"
                      >Asosiy sahifa <i class="fa "></i
                    ></a>
                  </li>
                  <li>
                    <a href="{% url 'library:home' %}"
                      >Kutubxonalar <i class="fa "></i
                    ></a>
                  </li>
                 
				            <li class="nav-dashboard yangiliklar">
                    <a href="{% url 'news' %}"
                      >Yangiliklar<i class="fa "></i
                    ></a>

										<li class="nav-dashboard contacts">
											<a href="{% url 'contact' %}"
												>Biz bilan bog'lanish<i class="fa "></i
											></a>
                </ul>
              </div>
              <!-- Navigation Menu END ==== -->
              {% endif %}
            </div>
          </div>
        </div>
      </header>
      
      {% block content %}{% endblock content %}

      {% if not user.myadmin %}
      <!-- Footer ==== -->
      <footer>
        <div class="footer-top" style="padding-top: 20px">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-12 col-sm-12 footer-col-4">
                <div class="widget">
                  <!-- <h5 class="footer-title">Sign Up For A Newsletter</h5> -->
                  <p
                    class="text-capitalize m-b20"
                    style="text-align: center; font-size: 20px; margin: 20px auto"
                  >
                    Kutubxona soxasida davlat xususiy sheriklikni tashkil etish
                    axborot tizimi
                  </p>
                  <p style="text-align: center; margin: 10px auto">
                    Tel: +99 890 123 45 67
                  </p>
                  <p style="text-align: center; margin: 10px auto">
                    Tel: +99 890 111 44 66
                  </p>
                  <p style="text-align: center; margin: 10px auto">
                    Email: electronpochta@gmail.com
                  </p>
                </div>
              </div>
              <div class="col-12 col-lg-5 col-md-7 col-sm-12">
                <div class="row">
                  <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="widget footer_widget">
                      <h5 class="footer-title">Havolalar</h5>
                      <ul>
                        <li><a href="#">Asosiy</a></li>
                        <li><a href="{% url 'library:home' %}">Kutubxonalar</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="widget footer_widget">
                      <h5 class="footer-title">Havolalar</h5>
                      <ul>
                        <li><a href="{% url 'news' %}">Yangiliklar</a></li>
                        {% if user.is_authenticated %}
                          {% if user.library%}
                            <li><a href="{% url 'library:profile' pk=user.library.id%}">Shahsiy kabinet</a></li>
                          {% elif user.organization %}
                            <li><a href="{% url 'organization:profile' pk=user.organization.id %}">Shahsiy kabinet</a></li>
                          {% endif %}
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                  <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                    <div class="widget footer_widget">
                      <h5 class="footer-title">Havolalar</h5>
                      <ul>
                        <li>
                          <a href="{% url 'contact' %}">Biz bilan bog'lanish</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-3 col-md-5 col-sm-12 footer-col-4">
                <div class="widget widget_gallery gallery-grid-4">
                  <h5 class="footer-title">Galareya</h5>
                  <ul class="magnific-image">
                    <li>
                      <a
                        href="{% static 'images/banner/back1.jpg' %}"
                        class="magnific-anchor"
                        ><img src={% static 'images/banner/back1.jpg' %} alt=""
                      /></a>
                    </li>
                    <li>
                      <a
                        href="{% static 'images/banner/yoshkitobxon.jpg' %}"
                        class="magnific-anchor"
                        ><img src={% static 'images/banner/yoshkitobxon.jpg' %} alt=""
                      /></a>
                    </li>
                    <li>
                      <a
                        href="{% static 'images/banner/zakovat.jpeg' %}"
                        class="magnific-anchor"
                        ><img src={% static 'images/banner/zakovat.jpeg' %} alt=""
                      /></a>
                    </li>
                    <li>
                      <a
                        href="{% static 'images/banner/alimpiyada.jpg' %}"
                        class="magnific-anchor"
                        ><img src={% static 'images/banner/alimpiyada.jpg' %} alt=""
                      /></a>
                    </li>
                    <li>
                      <a
                        href="{% static 'images/banner/milliykutubxonakitob1.jpg' %}"
                        class="magnific-anchor"
                        ><img
                          src={% static 'images/banner/milliykutubxonakitob1.jpg' %}
                          alt=""
                      /></a>
                    </li>
                    <li>
                      <a
                        href="{% static 'images/banner/milliykutubxona.jpg' %}"
                        class="magnific-anchor"
                        ><img
                          src={% static 'images/banner/milliykutubxona.jpg' %}
                          alt=""
                      /></a>
                    </li>
                    <li>
                      <a
                        href="{% static 'images/banner/shahmat.jpeg' %}"
                        class="magnific-anchor"
                        ><img src={% static 'images/banner/shahmat.jpeg' %} alt=""
                      /></a>
                    </li>
                    <li>
                      <a
                        href="{% static 'images/banner/zakovat2.jpeg' %}"
                        class="magnific-anchor"
                        ><img src={% static 'images/banner/zakovat2.jpeg' %} alt=""
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <a target="_blank" href="https://www.templateshub.net"
                  >Templates Hub</a
                >
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer END ==== -->
      {% endif %}
      <!-- scroll top button -->
      <button class="back-to-top fa fa-chevron-up"></button>
    </div>
    <script>
      /* When the user clicks on the button, 
      toggle between hiding and showing the dropdown content */
      function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
  
      // Close the dropdown if the user clicks outside of it
      window.onclick = function (event) {
        if (!event.target.matches(".dropbtn")) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains("show")) {
              openDropdown.classList.remove("show");
            }
          }
        }
      };
    </script>
    <!-- External JavaScripts -->
    <script src={% static 'js/jquery.min.js' %}></script>
    <script src={% static 'vendors/bootstrap/js/popper.min.js' %}></script>
    <script src={% static 'vendors/bootstrap/js/bootstrap.min.js' %}></script>
    <script src={% static 'vendors/bootstrap-select/bootstrap-select.min.js' %}></script>
    <script src={% static 'vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}></script>
    <script src={% static 'vendors/magnific-popup/magnific-popup.js' %}></script>
    <script src={% static 'vendors/counter/waypoints-min.js' %}></script>
    <script src={% static 'vendors/counter/counterup.min.js' %}></script>
    <script src={% static 'vendors/imagesloaded/imagesloaded.js' %}></script>
    <script src={% static 'vendors/masonry/masonry.js' %}></script>
    <script src={% static 'vendors/masonry/filter.js' %}></script>
    <script src={% static 'vendors/owl-carousel/owl.carousel.js' %}></script>
    <script src={% static 'js/functions.js' %}></script>
    <script src={% static 'js/contact.js' %}></script>
    <script src={% static 'vendors/switcher/switcher.js' %}></script>
    <script src={% static '../../www.google.com/recaptcha/api.js' %}></script>
  </body>
</html>
